<!DOCTYPE html>
<html>
<head>
  <title>Vineti notifications</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "vineti/notifications/application", media: "all" %>
  <%= javascript_include_tag "vineti/notifications/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
